*{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}


.sidebar {
    width: 20%;
    min-width: 250px;
    height: 100%;
    min-height: 700px;
    background-color: white;
}

.sidebar button {
    display: flex;
    background-color: white;
    width: 250px;
    height: 56px;
    &:hover {
        color: hsla(263, 97%, 58%, 1);
        background: url(/src/img/sidebar/000.svg) no-repeat left;
        padding: 0 0 0 5px;
    }
}

.sidebar img {
    height: 24px;
    width: 24px;
    margin: 16px 16px 16px 24px;
}

.sidebar p {
    margin: 18px 0 16px 0;
    font-size: 16px;
    font-weight: bold;
}

