*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Roboto", sans-serif;
}

body{

}

.container {
    height: 100vh;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
    background-color: rgba(184, 207, 241, 0.756);
}

.img_1 {
    width: 80px;
    height: 80px;
    margin: 40px 0 60px 0
}

.img_1 img {
    border-radius: 25px;
}


.box {
    width: 360px;
    height: 271px;
    background-color: white;
    border-radius: 40px;
    justify-content: center;
    text-align: center;
}

.box_1 {
    text-align: center;
    width: 296px;
    height: 191px;
    margin: 32px;
}

.titel_1 {
    font-size: 22px;
    padding: 0 0 15px 0;
}

.titel_2 {
    font-size: 14px;
    color: hsla(230, 9%, 60%, 1);
    padding: 0 0 25px 0;
}

.box_input {
}




.box_button button {
    background-color: hsla(263, 97%, 58%, 1);
    color: white;
    height: 38px;
    width: 100%;
    font-size: 16px;
    border-radius: 30px;
    margin: 0 0 30px 0;
    &:hover {
        box-shadow: hsla(263, 97%, 58%, 1)0 0 5px 0 ;
    }
}

.box_button p {
    color: hsla(230, 9%, 60%, 1);
    font-size: 13px;
}

.box_button a {
    color:  hsla(263, 97%, 58%, 1) ;
    font-weight: bold;
    text-decoration: none;
}



.box_2 {
    opacity: 0 ;
    width: 80px;
    height: 80px;
}



